[
	{
		"permissionID": 1,
		"permissionAPI": "SYSTEMShowMemoryServlet"
	},
	{
		"permissionID": 2,
		"permissionAPI": "SYSTEMRedeployServlet"
	},
	{
		"permissionID": 3,
		"permissionAPI": "SYSTEMStopServerServlet"
	},
	{
		"permissionID": 4,
		"permissionAPI": "SYSTEMAuthorityServlet"
	},
	{
		"permissionID": 5,
		"permissionAPI": "SYSTEMDownloadServlet"
	},
	{
		"permissionID": 6,
		"permissionAPI": ""
	},
	{
		"permissionID": 7,
		"permissionAPI": ""
	},
	{
		"permissionID": 8,
		"permissionAPI": ""
	},
	{
		"permissionID": 9,
		"permissionAPI": ""
	},
	{
		"permissionID": 10,
		"permissionAPI": "MQConsumerServlet"
	},
	{
		"permissionID": 11,
		"permissionAPI": "MQProducerServlet"
	},
	{
		"permissionID": 12,
		"permissionAPI": "MQSubscribeServlet"
	},
	{
		"permissionID": 13,
		"permissionAPI": "MQPublishServlet"
	},
	{
		"permissionID": 14,
		"permissionAPI": "MQTransactionServlet"
	},
	{
		"permissionID": 15,
		"permissionAPI": "MQBrowserServlet"
	},
	{
		"permissionID": 16,
		"permissionAPI": ""
	},
	{
		"permissionID": 17,
		"permissionAPI": ""
	},
	{
		"permissionID": 18,
		"permissionAPI": ""
	},
	{
		"permissionID": 19,
		"permissionAPI": ""
	},
	{
		"permissionID": 20,
		"permissionAPI": "RTPJoinRoomServlet"
	},
	{
		"permissionID": 21,
		"permissionAPI": "RTPCreateRoomServlet"
	},
	{
		"permissionID": 22,
		"permissionAPI": "RTPLeaveRoomServlet"
	},
	{
		"permissionID": 23,
		"permissionAPI": "RTPServerDPAcceptor",
		"frequency": 600000
	},
	{
		"permissionID": 24,
		"permissionAPI": ""
	},
	{
		"permissionID": 25,
		"permissionAPI": ""
	},
	{
		"permissionID": 26,
		"permissionAPI": ""
	},
	{
		"permissionID": 27,
		"permissionAPI": ""
	},
	{
		"permissionID": 28,
		"permissionAPI": ""
	},
	{
		"permissionID": 29,
		"permissionAPI": ""
	},
	{
		"permissionID": 30,
		"permissionAPI": ""
	},
	{
		"permissionID": 31,
		"permissionAPI": ""
	},
	{
		"permissionID": 32,
		"permissionAPI": ""
	},
	{
		"permissionID": 33,
		"permissionAPI": ""
	},
	{
		"permissionID": 34,
		"permissionAPI": ""
	},
	{
		"permissionID": 35,
		"permissionAPI": ""
	},
	{
		"permissionID": 36,
		"permissionAPI": ""
	},
	{
		"permissionID": 37,
		"permissionAPI": ""
	},
	{
		"permissionID": 38,
		"permissionAPI": ""
	},
	{
		"permissionID": 39,
		"permissionAPI": ""
	},
	{
		"permissionID": 40,
		"permissionAPI": ""
	},
	{
		"permissionID": 41,
		"permissionAPI": ""
	},
	{
		"permissionID": 42,
		"permissionAPI": ""
	},
	{
		"permissionID": 43,
		"permissionAPI": ""
	},
	{
		"permissionID": 44,
		"permissionAPI": ""
	},
	{
		"permissionID": 45,
		"permissionAPI": ""
	},
	{
		"permissionID": 46,
		"permissionAPI": ""
	},
	{
		"permissionID": 47,
		"permissionAPI": ""
	},
	{
		"permissionID": 48,
		"permissionAPI": ""
	},
	{
		"permissionID": 49,
		"permissionAPI": ""
	},
	{
		"permissionID": 50,
		"permissionAPI": ""
	},
	{
		"permissionID": 51,
		"permissionAPI": ""
	},
	{
		"permissionID": 52,
		"permissionAPI": ""
	},
	{
		"permissionID": 53,
		"permissionAPI": ""
	},
	{
		"permissionID": 54,
		"permissionAPI": ""
	},
	{
		"permissionID": 55,
		"permissionAPI": ""
	},
	{
		"permissionID": 56,
		"permissionAPI": ""
	},
	{
		"permissionID": 57,
		"permissionAPI": ""
	},
	{
		"permissionID": 58,
		"permissionAPI": ""
	},
	{
		"permissionID": 59,
		"permissionAPI": ""
	},
	{
		"permissionID": 60,
		"permissionAPI": ""
	},
	{
		"permissionID": 61,
		"permissionAPI": ""
	},
	{
		"permissionID": 62,
		"permissionAPI": ""
	},
	{
		"permissionID": 63,
		"permissionAPI": ""
	},
	{
		"permissionID": 64,
		"permissionAPI": ""
	},
	{
		"permissionID": 65,
		"permissionAPI": ""
	},
	{
		"permissionID": 66,
		"permissionAPI": ""
	},
	{
		"permissionID": 67,
		"permissionAPI": ""
	},
	{
		"permissionID": 68,
		"permissionAPI": ""
	},
	{
		"permissionID": 69,
		"permissionAPI": ""
	},
	{
		"permissionID": 70,
		"permissionAPI": ""
	},
	{
		"permissionID": 71,
		"permissionAPI": ""
	},
	{
		"permissionID": 72,
		"permissionAPI": ""
	},
	{
		"permissionID": 73,
		"permissionAPI": ""
	},
	{
		"permissionID": 74,
		"permissionAPI": ""
	},
	{
		"permissionID": 75,
		"permissionAPI": ""
	},
	{
		"permissionID": 76,
		"permissionAPI": ""
	},
	{
		"permissionID": 77,
		"permissionAPI": ""
	},
	{
		"permissionID": 78,
		"permissionAPI": ""
	},
	{
		"permissionID": 79,
		"permissionAPI": ""
	},
	{
		"permissionID": 80,
		"permissionAPI": "ContactServlet"
	},
	{
		"permissionID": 81,
		"permissionAPI": "MessageServlet"
	},
	{
		"permissionID": 82,
		"permissionAPI": "UserServlet"
	},
	{
		"permissionID": 83,
		"permissionAPI": ""
	},
	{
		"permissionID": 84,
		"permissionAPI": ""
	},
	{
		"permissionID": 85,
		"permissionAPI": ""
	},
	{
		"permissionID": 86,
		"permissionAPI": ""
	},
	{
		"permissionID": 87,
		"permissionAPI": ""
	},
	{
		"permissionID": 88,
		"permissionAPI": ""
	},
	{
		"permissionID": 89,
		"permissionAPI": ""
	},
	{
		"permissionID": 90,
		"permissionAPI": "TestGetPhoneNOServlet",
		"frequency": 600000
	},
	{
		"permissionID": 91,
		"permissionAPI": "TestExceptionServlet",
		"frequency": 600000
	},
	{
		"permissionID": 92,
		"permissionAPI": "TestSimpleServlet",
		"frequency": 600000
	},
	{
		"permissionID": 93,
		"permissionAPI": "TestListenSimpleServlet",
		"frequency": 600000
	},
	{
		"permissionID": 94,
		"permissionAPI": "TestUploadServlet",
		"frequency": 600000
	},
	{
		"permissionID": 95,
		"permissionAPI": "TestSessionDisconnectServlet",
		"frequency": 6000000
	},
	{
		"permissionID": 96,
		"permissionAPI": ""
	},
	{
		"permissionID": 97,
		"permissionAPI": ""
	},
	{
		"permissionID": 98,
		"permissionAPI": ""
	},
	{
		"permissionID": 99,
		"permissionAPI": ""
	}
]
