[
    {
        "permissionID": 0,
        "permissionAPI": "JMSConsumerServlet"
    },
    {
        "permissionID": 1,
        "permissionAPI": "JMSProducerServlet"
    },
    {
        "permissionID": 2,
        "permissionAPI": "JMSSubscribeServlet"
    },
    {
        "permissionID": 3,
        "permissionAPI": "JMSPublishServlet"
    },
    {
        "permissionID": 4,
        "permissionAPI": "JMSTransactionServlet"
    },
    {
        "permissionID": 5,
        "permissionAPI": "JMSBrowserServlet"
    },
    {
        "permissionID": 6,
        "permissionAPI": "RTPJoinRoomServlet"
    },
    {
        "permissionID": 7,
        "permissionAPI": "RTPCreateRoomServlet"
    },
    {
        "permissionID": 8,
        "permissionAPI": "RTPServerDPAcceptor",
		"frequency": 60000
    },
    {
        "permissionID": 9,
        "permissionAPI": "SYSTEMRedeployServlet"
    },
    {
        "permissionID": 10,
        "permissionAPI": "SYSTEMShowMemoryServlet"
    },
    {
        "permissionID": 11,
        "permissionAPI": "SYSTEMStopServerServlet"
    },
    {
        "permissionID": 12,
        "permissionAPI": "SYSTEMAuthorityServlet"
    },
    {
        "permissionID": 13,
        "permissionAPI": "TestGetPhoneNOServlet"
    },
    {
        "permissionID": 14,
        "permissionAPI": "TestListenSimpleServlet"
    },
    {
        "permissionID": 15,
        "permissionAPI": "TestSessionDisconnectServlet"
    },
    {
        "permissionID": 16,
        "permissionAPI": "TestSimpleServlet"
    },
    {
        "permissionID": 17,
        "permissionAPI": "TestUploadServlet"
    },
    {
        "permissionID": 18,
        "permissionAPI": "TestExceptionServlet"
    },
    {
        "permissionID": 19,
        "permissionAPI": "UserServlet"
    },
    {
        "permissionID": 20,
        "permissionAPI": "ContactServlet"
    },
    {
        "permissionID": 21,
        "permissionAPI": "MessageServlet"
    },
    {
        "permissionID": 22,
        "permissionAPI": ""
    },
    {
        "permissionID": 23,
        "permissionAPI": ""
    },
    {
        "permissionID": 24,
        "permissionAPI": ""
    },
    {
        "permissionID": 25,
        "permissionAPI": ""
    },
    {
        "permissionID": 26,
        "permissionAPI": ""
    },
    {
        "permissionID": 27,
        "permissionAPI": ""
    },
    {
        "permissionID": 28,
        "permissionAPI": ""
    },
    {
        "permissionID": 29,
        "permissionAPI": ""
    }
]