[
    {
        "roleID": 0,
        "roleName": "admin",
        "description": "admin",
        "children": [1,2,3,5]
    },
	{
        "roleID": 1,
        "roleName": "system-manager",
        "description": "system-manager",
        "children": [5],
		"permissions": [9,10,11]
    },
	{
        "roleID": 2,
        "roleName": "jms",
        "description": "jms",
        "children": [5],
		"permissions": [0,1,2,3,4,5]
    },
	{
        "roleID": 3,
        "roleName": "udp",
        "description": "udp",
        "children": [5],
		"permissions": [6,7,8]
    },
	{
        "roleID": 4,
        "roleName": "likemessage",
        "description": "likemessage",
        "children": [2,3,5],
		"permissions": [20]
    },
	{
        "roleID": 5,
        "roleName": "guest",
        "description": "guest",
		"permissions": [12,13,14,15,16,17,18,19]
    }
]