/baseio/baseio-all-*.jar
/baseio-release/http-container/lib/baseio-all-3.1.8-SNAPSHOT.jar
/baseio-release/http-container/app
/baseio-release/http-container/lib/baseio-all*.jar
/baseio-release/http-container/logs
