/release/nimble-io.http/logs
/release/nimble-io.nio/logs
/release/nimble-io.nio/lib/nimbleio-core-0.0.1-SNAPSHOT.jar
/release/nimble-io.nio/lib/nimbleio-extend-0.0.1-SNAPSHOT.jar
/release/nimble-io.http/lib/nimbleio-core-0.0.1-SNAPSHOT.jar
/release/nimble-io.http/lib/nimbleio-extend-0.0.1-SNAPSHOT.jar
/temp1.zip
