[
	{"class" : "com.test.servlet.TestGetPhoneNOServlet"},
	{"class" : "com.test.servlet.TestExceptionServlet"},
	{"class" : "com.test.servlet.TestSimpleServlet"},
	{"class" : "com.test.servlet.TestListenSimpleServlet"},
	{"class" : "com.test.servlet.TestUploadServlet"},
	{"class" : "com.test.servlet.TestSessionDisconnectServlet"},
	
	{"class" : "com.likemessage.server.ContactServlet"},
	{
		"class" : "com.likemessage.server.UserServlet",
		"beans" : [
			"com.likemessage.bean.T_USER",
			"com.likemessage.bean.T_MESSAGE",
			"com.likemessage.bean.T_CONTACT",
			"com.likemessage.bean.T_CONTACT_GROUP",
			"com.likemessage.bean.B_Contact"
		]
	},
	
	
	{"class" : "com.gifisan.nio.server.service.impl.SYSTEMAuthorityServlet"},
	{"class" : "com.gifisan.nio.server.service.impl.SYSTEMShowMemoryServlet"},
	{"class" : "com.gifisan.nio.server.service.impl.SYSTEMRedeployServlet"},
	{"class" : "com.gifisan.nio.server.service.impl.SYSTEMStopServerServlet"}
	
]