[
	{
		"class" : "com.yoocent.mtp.servlet.test.TestDownloadServlet",
		"serviceKey" : "TestDownloadServlet",
		"param1" : "param11",
		"param2" : true
	},
	{
		"class" : "com.yoocent.mtp.servlet.test.TestExceptionServlet",
		"serviceKey" : "TestExceptionServlet",
		"param1" : "param11",
		"param2" : "param22"
	},
	{
		"class" : "com.yoocent.mtp.servlet.test.TestSimple2Servlet",
		"serviceKey" : "TestSimple2Servlet",
		"param1" : "param11",
		"param2" : "param22"
	},
	{
		"class" : "com.yoocent.mtp.servlet.test.TestSimpleServlet",
		"serviceKey" : "TestSimpleServlet",
		"param1" : "param11",
		"param2" : "param22"
	},
	{
		"class" : "com.yoocent.mtp.servlet.test.TestReverseServlet",
		"serviceKey" : "TestReverseServlet",
		"param1" : "param11",
		"param2" : "param22"
	},{
		"class" : "com.yoocent.mtp.jms.JMSConsumerServlet",
		"serviceKey" : "JMSConsumerServlet",
		"param1" : "param11",
		"param2" : "param22"
	},{
		"class" : "com.yoocent.mtp.jms.JMSProducerServlet",
		"serviceKey" : "JMSProducerServlet",
		"param1" : "param11",
		"param2" : "param22"
	},
	{
		"class" : "com.yoocent.mtp.servlet.test.TestUploadServlet",
		"serviceKey" : "TestUploadServlet",
		"param1" : "param11",
		"param2" : "param22"
	}
	
]