[
	{
		"class"		: "com.gifisan.nio.plugin.rtp.server.RTPContext",
	},
	{
		"class" 	: "com.gifisan.nio.plugin.jms.server.MQContext",
		"due-time" 	: "604800000",
	},
	{
		"class"		: "com.gifisan.nio.plugin.authority.AuthorityContext",
	},
	{
		"class"		: "com.likemessage.server.LMLoginCenterPlugin",
	}
]