[
	{"class" : "com.gifisan.nio.servlet.impl.test.TestInitializeErrorServlet"},
	{"class" : "com.gifisan.nio.servlet.impl.test.TestGetPhoneNOServlet"},
	{"class" : "com.gifisan.nio.servlet.impl.test.TestDownloadServlet"},
	{"class" : "com.gifisan.nio.servlet.impl.test.TestExceptionServlet"},
	{"class" : "com.gifisan.nio.servlet.impl.test.TestSimpleServlet"},
	{"class" : "com.gifisan.nio.servlet.impl.test.TestNotFoundServlet"},
	{"class" : "com.gifisan.nio.servlet.impl.test.TestUploadServlet"},
	{
		"class" : "com.gifisan.nio.servlet.impl.ShowMemoryServlet",
		"serviceName" : "ShowMemoryServlet",
		"username" : "admin",
		"password" : "admin100"
	},
	{
		"class" : "com.gifisan.nio.servlet.impl.StopServerServlet",
		"serviceName" : "stop-server",
		"username" : "admin",
		"password" : "admin100"
	},
	{"class" : "com.gifisan.nio.jms.server.JMSConsumerServlet"},
	{"class" : "com.gifisan.nio.jms.server.JMSProducerServlet"},
	{"class" : "com.gifisan.nio.jms.server.JMSTransactionServlet"},
	{"class" : "com.gifisan.nio.jms.server.JMSBrowserServlet"},
	{
		"class" : "com.gifisan.nio.jms.server.JMSLoginServlet",
		"serviceName" : "JMSLoginServlet",
		"username" : "admin",
		"password" : "admin100",
		"due-time" : "604800000"
	}
	
]