[
	{
		"class" : "com.gifisan.mtp.servlet.test.TestInitializeErrorServlet",
		"serviceName" : "TestInitializeErrorServlet",
		"param1" : "param11",
		"param2" : "param22"
	},
	{
		"class" : "com.gifisan.mtp.servlet.test.TestDownloadServlet",
		"serviceName" : "TestDownloadServlet",
		"param1" : "param11",
		"param2" : true
	},
	{
		"class" : "com.gifisan.mtp.servlet.test.TestExceptionServlet",
		"serviceName" : "TestExceptionServlet",
		"param1" : "param11",
		"param2" : "param22"
	},
	{
		"class" : "com.gifisan.mtp.servlet.test.TestSimpleServlet",
		"serviceName" : "TestSimpleServlet",
		"param1" : "param11",
		"param2" : "param22"
	},
	{
		"class" : "com.gifisan.mtp.servlet.test.TestReverseServlet",
		"serviceName" : "TestReverseServlet",
		"param1" : "param11",
		"param2" : "param22"
	},
	{
		"class" : "com.gifisan.mtp.servlet.test.TestUploadServlet",
		"serviceName" : "TestUploadServlet",
		"param1" : "param11",
		"param2" : "param22"
	},
	{
		"class" : "com.gifisan.mtp.servlet.impl.ShowMemoryServlet",
		"serviceName" : "ShowMemoryServlet",
		"username" : "admin",
		"password" : "admin100"
	},
	{
		"class" : "com.gifisan.mtp.servlet.impl.StopServerServlet",
		"serviceName" : "stop-server",
		"username" : "admin",
		"password" : "admin100"
	},
	{
		"class" : "com.gifisan.mtp.jms.server.JMSConsumerServlet",
		"serviceName" : "JMSConsumerServlet",
		"param1" : "param11",
		"param2" : "param22"
	},
	{
		"class" : "com.gifisan.mtp.jms.server.JMSProducerServlet",
		"serviceName" : "JMSProducerServlet",
		"param1" : "param11",
		"param2" : "param22"
	},
	{
		"class" : "com.gifisan.mtp.jms.server.JMSLoginServlet",
		"serviceName" : "JMSLoginServlet",
		"username" : "admin",
		"password" : "admin100",
		"due-time" : "604800000"
	},
	{
		"class" : "com.gifisan.mtp.jms.server.JMSBrowserServlet",
		"serviceName" : "JMSBrowserServlet",
		"username" : "admin",
		"password" : "admin100"
	},
	{
		"class" : "com.gifisan.mtp.jms.server.JMSTransactionServlet",
		"serviceName" : "JMSTransactionServlet",
		"username" : "admin",
		"password" : "admin100"
	}
	
]